<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Make a reservation!</title>
</head>
<body>

<form th:action="@{/reserve}" th:object="${reservationInfo}" method="post">
    <form>
    <select name = "customerType">
        <option th:field = "*{customerType}" value ="REGULAR">Regular</option>
        <option th:field = "*{customerType}" value ="REWARDS">Rewards</option>
    </select>
        <p>Arrival: <input th:field = "*{arrivalDate}" type="text" name="arrivalDate" placeholder="yyyy/mm/dd"/></p>
        <p>Departure: <input th:field = "*{departureDate}" type="text" name="departureDate" placeholder="yyyy/mm/dd"/></p>
        <input type="submit" value = "Submit"/><input type="reset" value="Reset" />
    </form>
</form>
</body>
</html>



